
.title-val {
   font-size: 20px;
   color: cornflowerblue;
}

// mat-card-title #span {
//   font-size: 20px;
// }

mat-radio-group {
  margin: auto;
}

mat-radio-button  {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;

}

.textarea , mat-card-action {
  margin-top: 20px;
}

mat-form-field {
  margin-top: 20px;
  width: 100%;
}

.button {
  margin-left: 20px;
}
