
<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<mat-card class="cust-container" *ngIf="!spinnerLoading">

  <!-- <div class="spin-div">
      <mat-spinner *ngIf="spinnerLoading" ></mat-spinner>
  </div> -->
  <form [formGroup]="form" (submit)="onSubmit()" #custForm="ngForm" >

    <mat-card-title>Customer Detail {{isFieldReadonly}}</mat-card-title>
    <div class="border border-primary">
      <div class="row">
        <!-- <mat-radio-group class="custTyperadio-group" formControlName="custType" [(ngModel)]="customer.Card_Type"> -->
          <mat-radio-group class="custTyperadio-group" formControlName="groupCode" [(ngModel)]="customer.Group_Code">
          <mat-radio-button  class="example-radio-button" *ngFor="let clientType of clientTypeList" [value]="clientType.ClientType_Code"
            (change)="clientTypeChange($event)">
            {{clientType.ClientType_Desc}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class='person_div'>
        <!-- Thai info -->
        <div class="row">
          <mat-form-field class="col-md-4" >
            <mat-select  formControlName="bf_title_th" placeholder="Before Title(TH)" [(ngModel)]="customer.Title_Name_T">
              <mat-option  *ngFor="let obj of thaiTitleList" [value]="obj.Title_Name">
                {{obj.Prefix_Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('bf_title_th').invalid">Please choose customer type.</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-4">
            <input   matInput formControlName="firstName_th" placeholder="First name(TH)" [(ngModel)]="customer.First_Name_T">
            <mat-error *ngIf="form.get('firstName_th').invalid">Please enter a first name.</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <input  matInput formControlName="lastName_th" placeholder="Last name(TH)" [(ngModel)]="customer.Last_Name_T">
            <mat-error *ngIf="form.get('lastName_th').invalid">Please enter a first name.</mat-error>
          </mat-form-field>
        </div>


        <!-- English info -->
        <div class="row">
          <mat-form-field class="col-md-4">
            <mat-select formControlName="bf_title_en" placeholder="Before Title(EN)" [(ngModel)]="customer.Title_Name_E">
              <mat-option *ngFor="let obj of engTitlesList" [value]="obj.Title_Name">
                {{obj.Prefix_Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('bf_title_en').invalid">Please choose customer type.</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput formControlName="firstName_en" placeholder="First name(EN)" [(ngModel)]="customer.First_Name_E">
            <mat-error *ngIf="form.get('firstName_en').invalid">Please enter a first name.</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <input matInput formControlName="lastName_en" placeholder="Last name(EN)" [(ngModel)]="customer.Last_Name_E">
            <mat-error *ngIf="form.get('lastName_en').invalid">Please enter a last name.</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-sm-12 col-md-4">
            <mat-select formControlName="nationality" placeholder="Nationality" [(ngModel)]="customer.Nation_Code" (selectionChange) ="nationChange($event)">
              <mat-option *ngFor="let obj of nationList" [value]="obj.Nation_Code">
                {{obj.Nation_Desc}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('nationality').invalid">Please choose Nationality.</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="border border-primary section-2">
      <div class="row sex-div" *ngIf="customer.Group_Code == CLIENT_TYPE_PERSION ">
        <mat-radio-group class="sex-radio-group" formControlName="sex" [(ngModel)]="customer.Sex" >
          <mat-radio-button class="example-radio-button" value="M">Male</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="F">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row" *ngIf="customer.Group_Code == CLIENT_TYPE_PERSION " >
        <mat-form-field class="col-md-4">
          <input matInput [matDatepicker]="dobDate" formControlName="dobDate" placeholder="date of birth /Register date"
           [(ngModel)]="customer.Birth_Day" >
          <mat-datepicker-toggle matSuffix [for]="dobDate"></mat-datepicker-toggle>
          <mat-datepicker #dobDate></mat-datepicker>
          <mat-error *ngIf="form.get('dobDate').invalid ">Please correct date of birth /Register date</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-select formControlName="custType" placeholder="Card Type" [(ngModel)]="customer.Card_Type">
            <mat-option *ngFor="let obj of PIDTypeList" [value]="obj.PIDType_Code">
              {{obj.PIDType_Desc}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('custType').invalid">Please choose Card Type.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-4">
          <input matInput formControlName="custId" placeholder="Card No." [(ngModel)]="customer.Cust_Code">
          <mat-error *ngIf="form.get('custId').invalid">Please enter a Card No.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-4">
          <input matInput [matDatepicker]="Card_IssueDate" formControlName="Card_IssueDate" placeholder="Issue Date"
           [(ngModel)]="customer.Card_IssueDate" >
          <mat-datepicker-toggle matSuffix [for]="Card_IssueDate"></mat-datepicker-toggle>
          <mat-datepicker #Card_IssueDate></mat-datepicker>
          <mat-error *ngIf="form.get('Card_IssueDate').invalid ">Please correct date of birth /Register date</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4 ">
          <input matInput [matDatepicker]="Card_ExpDate" formControlName="Card_ExpDate" placeholder="Expire date"
          [(ngModel)]="customer.Card_ExpDate">
          <mat-datepicker-toggle matSuffix [for]="Card_ExpDate"></mat-datepicker-toggle>
          <mat-datepicker #Card_ExpDate></mat-datepicker>
          <mat-error *ngIf="form.get('Card_ExpDate').invalid ">Please correct Expire date.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-4">
          <input matInput formControlName="mobile" placeholder="Mobile number." [(ngModel)]="customer.Mobile">
          <mat-error *ngIf="form.get('mobile').invalid">Please enter mobile number.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <input matInput formControlName="email" placeholder="Email address" [(ngModel)]="customer.Email">
          <mat-error *ngIf="form.get('email').invalid">Please enter Email address.</mat-error>
        </mat-form-field>
      </div>
      <!-- .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button -->


      <!-- FC (IPFG) -->
      <div class="row">
        <mat-form-field class="col-md-4">
          <input matInput formControlName="MktId" placeholder="FC (IPFG)" [(ngModel)]="customer.MktId">

            <i class="fas fa-search find-right"  (click)="openSaleDialog()" *ngIf="!isDisableFields" ></i>
          <mat-error *ngIf="form.get('MktId').invalid">Please enter FC (IPFG).</mat-error>
        </mat-form-field>

      </div>
    </div>

    <mat-card-title style="margin-top:20px;">Address</mat-card-title>
    <!-- Census Address -->
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon svgIcon="thumbs-up"></mat-icon> -->
          Census Address
        </ng-template>
        <!-- <mat-card-title>Census Address</mat-card-title> -->
        <div class="border border-primary addr-border">

            <div class="row">
               <br><br>
            </div>

            <div class="row">
                <mat-form-field class="col-md-4">
                  <input matInput formControlName="ce_addr_No" placeholder="Address number" [(ngModel)]="ceAddress.Addr_No">
                  <mat-error *ngIf="form.get('ce_addr_No').invalid">Please enter Address number.</mat-error>
                </mat-form-field>
                </div>

          <div class="row">
            <mat-form-field class="col-md-4">
                <input matInput formControlName="ce_place" placeholder="Floor Building" [(ngModel)]="ceAddress.Place">
                <mat-error *ngIf="form.get('ce_place').invalid">Please enter Floor Building.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput formControlName="ce_road" placeholder="Road" [(ngModel)]="ceAddress.Road">
              <mat-error *ngIf="form.get('ce_road').invalid">Please enter road.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="ce_country" placeholder="Coutry" (selectionChange) ="ceCountryChange($event)" [(ngModel)]="ceAddress.Country_Id">
                <mat-option *ngFor="let obj of ce_countryList" [value]="obj.Country_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ce_country').invalid">Please choose Coutry.</mat-error>
            </mat-form-field>

          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="ce_province" placeholder="Province" [(ngModel)]="ceAddress.Province_Id"
              (selectionChange) ="ceProvinceChange($event)">
                <mat-option *ngFor="let obj of ce_provinceList" [value]="obj.Province_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ce_province').invalid">Please choose Province.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="ce_amphure" placeholder="Districe" [(ngModel)]="ceAddress.Amphur_Id"
              (selectionChange) ="ceAmphurChange($event)">
                <mat-option *ngFor="let obj of ce_amphursList" [value]="obj.Amphur_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ce_amphure').invalid">Please choose Districe.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <mat-select formControlName="ce_tambon" placeholder="Sub District" [(ngModel)]="ceAddress.Tambon_Id"
              (selectionChange) ="ceTambonChange($event)">
                <mat-option *ngFor="let obj of ce_tambonsList" [value]="obj.Tambon_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ce_tambon').invalid">Please choose Sub District.</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="ce_zip_Code" placeholder="Post code" [(ngModel)]="ceAddress.Zip_Code">
              <mat-error *ngIf="form.get('ce_zip_Code').invalid">Please enter post code.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="ce_tel" placeholder="Telephone number" [(ngModel)]="ceAddress.Tel">
              <mat-error *ngIf="form.get('ce_tel').invalid">Please enter telephone number.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput formControlName="ce_fax" placeholder="Fax number" [(ngModel)]="ceAddress.Fax">
              <mat-error *ngIf="form.get('ce_fax').invalid">Please enter Fax number.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

      <!-- Office Address (START)-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon></mat-icon>
          Office Address
        </ng-template>

        <div class="border border-primary addr-border">
          <div class="row">
            <section style="margin-top: 20px;margin-left: 30px">
              <mat-checkbox #asRegisterAddr (click)="ofSameAsRegister()" *ngIf="!isDisableFields" >Same as register address</mat-checkbox>
            </section>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="of_addr_No" placeholder="Address number" [(ngModel)]="ofAddress.Addr_No">
              <mat-error *ngIf="form.get('of_addr_No').invalid">Please enter Address number.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="of_place" placeholder="Floor Building" [(ngModel)]="ofAddress.Place">
              <mat-error *ngIf="form.get('of_place').invalid">Please enter Floor Building.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <input matInput formControlName="of_road" placeholder="Road" [(ngModel)]="ofAddress.Road">
                <mat-error *ngIf="form.get('of_road').invalid">Please enter road.</mat-error>
            </mat-form-field>

          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="of_country" placeholder="Coutry" [(ngModel)]="ofAddress.Country_Id"
              (selectionChange) ="ofCountryChange($event)">
                <mat-option *ngFor="let obj of of_countryList" [value]="obj.Country_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('of_country').invalid">Please choose Coutry.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="of_province" placeholder="Province" [(ngModel)]="ofAddress.Province_Id"
              (selectionChange) ="ofProvinceChange($event)">
                <mat-option *ngFor="let obj of of_provinceList" [value]="obj.Province_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('of_province').invalid">Please choose Province.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="of_amphur" placeholder="Districe" [(ngModel)]="ofAddress.Amphur_Id"
              (selectionChange) ="ofAmphurChange($event)">
                <mat-option *ngFor="let obj of of_amphursList" [value]="obj.Amphur_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('of_amphur').invalid">Please choose Districe.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <mat-select formControlName="of_tambon" placeholder="Sub District" [(ngModel)]="ofAddress.Tambon_Id"
              (selectionChange) ="ofTambonChange($event)">
                <mat-option *ngFor="let obj of of_tambonsList" [value]="obj.Tambon_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('of_tambon').invalid">Please choose Sub District.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="of_zip_Code" placeholder="Post code" [(ngModel)]="ofAddress.Zip_Code">
              <mat-error *ngIf="form.get('of_zip_Code').invalid">Please enter post code.</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="of_tel" placeholder="Tel number" [(ngModel)]="ofAddress.Tel">
              <mat-error *ngIf="form.get('of_tel').invalid">Please enter Tel number.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput formControlName="of_fax" placeholder="Fax number" [(ngModel)]="ofAddress.Fax">
              <mat-error *ngIf="form.get('of_fax').invalid">Please enter Fax number.</mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-tab>

      <!-- Mailing Address (START)-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon></mat-icon>
          Mailing Address
        </ng-template>

        <div class="border border-primary addr-border">
          <div class="row">
            <section style="margin-top: 20px;margin-left: 30px">
              <mat-checkbox #asRegisterAddr (click)="maSameAsRegister()" *ngIf="!isDisableFields">Same as Register address</mat-checkbox>
              <mat-checkbox #asOfficerAddr (click)="maSameAsOffice()" *ngIf="!isDisableFields" >Same as Office address</mat-checkbox>
            </section>

          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="ma_addr_No" placeholder="Address number" [(ngModel)]="maAddress.Addr_No">
              <mat-error *ngIf="form.get('ma_addr_No').invalid">Please enter Address number.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="ma_place" placeholder="Floor Building" [(ngModel)]="maAddress.Place">
              <mat-error *ngIf="form.get('ma_place').invalid">Please enter Floor Building.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <input matInput formControlName="ma_road" placeholder="Road" [(ngModel)]="maAddress.Road">
                <mat-error *ngIf="form.get('ma_road').invalid">Please enter road.</mat-error>
            </mat-form-field>

          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="ma_country" placeholder="Coutry" [(ngModel)]="maAddress.Country_Id"
              (selectionChange) ="maCountryChange($event)">
                <mat-option *ngFor="let obj of ce_countryList" [value]="obj.Country_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ma_country').invalid">Please choose Coutry.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="ma_province" placeholder="Province" [(ngModel)]="maAddress.Province_Id"
              (selectionChange) ="maProvinceChange($event)">
                <mat-option *ngFor="let obj of ma_provinceList" [value]="obj.Province_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ma_province').invalid">Please choose Province.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-select formControlName="ma_amphur" placeholder="Districe" [(ngModel)]="maAddress.Amphur_Id"
              (selectionChange) ="maAmphurChange($event)">
                <mat-option *ngFor="let obj of ma_amphursList" [value]="obj.Amphur_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ma_amphur').invalid">Please choose Districe.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <mat-select formControlName="ma_tambon" placeholder="Sub District" [(ngModel)]="maAddress.Tambon_Id"
              (selectionChange) ="maTambonChange($event)">
                <mat-option *ngFor="let obj of ma_tambonsList" [value]="obj.Tambon_ID">
                  {{obj.Name_Thai}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('ma_tambon').invalid">Please choose Sub District.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="ma_zip_Code" placeholder="Post code" [(ngModel)]="maAddress.Zip_Code">
              <mat-error *ngIf="form.get('ma_zip_Code').invalid">Please enter post code.</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <input matInput formControlName="ma_tel" placeholder="Tel number" [(ngModel)]="maAddress.Tel">
              <mat-error *ngIf="form.get('ma_tel').invalid">Please enter Tel number.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input matInput formControlName="ma_fax" placeholder="Fax number" [(ngModel)]="maAddress.Fax">
              <mat-error *ngIf="form.get('ma_fax').invalid">Please enter Fax number.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
<!-- Mailing Address (END)-->
    </mat-tab-group>



    <mat-card-actions>
      <button mat-flat-button class="button_card_action" color="primary" type='submit' *ngIf="!isDisableFields">Submit</button>
      <button mat-flat-button class="button_card_action"color="warn" type='reset' *ngIf="!isDisableFields">Reset</button>

      <a *ngIf="isDisableFields" class="button_card_action" mat-flat-button color="primary"  (click)="goBack()">
        Back
      </a>
    </mat-card-actions>


  </form>

</mat-card>
