<mat-spinner *ngIf="spinnerLoading"></mat-spinner>


<mat-accordion >
  <mat-expansion-panel *ngFor="let item of WorkFlowTrans;let i = index">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{i+1}}
      </mat-panel-title>
      <mat-panel-description>
       {{item.Flow | uppercase}}
      </mat-panel-description>

      <mat-panel-description>
        <i *ngIf="item.WFStatus === 'Y'" class="fas fa-check-circle fa-2x wfStatus-icon"></i>
        <i *ngIf="item.WFStatus !== 'Y'"class="fas fa-edit"></i>

        <span>Create Date {{item.CreateDate | date:"dd/MM/yyyy"}}</span>
      </mat-panel-description>

    </mat-expansion-panel-header>



    <p>Description</p>


      <mat-action-row >
          <a mat-button color="primary" >APPROVE</a>
          <button mat-button color="warn"  > REJECT</button>
        </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

