mat-card {
  margin-top: 10px;
}

table {
  width: 100%;
}

.div-margin10{
  margin-top: 15px;
}

.mat-column-position .mat-column-action, .mat-column-status {
  max-width: 10%;
  text-align: center  ;
}

.mat-column-created {
  max-width: 25%;
  text-align: left;
}

.mat-column-comment {
  max-width: 30%;
  text-align: left;

}
