
mat-list {
    margin-top: 20px;
}

mat-expansion-panel-header {
  font-size: medium;
  color: red;
}

.div-comment {
    border: 1px;
    width: 300px;
}

.wfStatus-icon {
    color:green;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

