<mat-spinner *ngIf="spinnerLoading" ></mat-spinner>
<mat-card>

  <mat-card-title>Summary Trans Information</mat-card-title>
  <mat-card-content>
  <form  [formGroup]="form" (submit)="onExecute()" #postForm="ngForm" *ngIf="!spinnerLoading">

    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Start date.">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('startDate').invalid ">Please correct start date.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="endpicker" formControlName="endDate" placeholder="End date.">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
        <mat-error *ngIf="form.get('endDate').invalid ">Please correct end date.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="AMC" formControlName="amc">
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('amc').invalid">Please choose AMC.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Fund" formControlName="fund">
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('fund').invalid">Please choose fund.</mat-error>
    </mat-form-field>


    <button
      mat-raised-button
      color ="primary"
    type='submit' >Execute</button>&nbsp;

  <button
    mat-raised-button
    color ="warn"
  type='reset' (click)="reset()" >Reset</button>

  </form>

</mat-card-content>

</mat-card>
